body {
  background-color: black;
  font-family: 'Verdana';
}

a {
  text-decoration: none;
  color: rgb(116, 238, 136);
  font-style: italic;
  /* font-weight: bold; */
  font-family: 'Verdana';
}

.App {
  text-align: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
