body {
  background-color: black;
  font-family: 'Verdana';
}

a {
  text-decoration: none;
  color: rgb(213, 212, 245);
  font-style: italic;
}

.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-image: url('data/images/Arrow.png');
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
}